@charset "UTF-8";
/* @describe: layout
 * @author: 上官靖宇
 * @date: 2022/1/5 10:41
 */
.layout {
    min-height: 100vh !important;
}

.layout .logo {
    height: 60px;
    line-height: 60px;
    text-align: center;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 4px;
    overflow: hidden;
}

.layout .logo .logo-img {
    width: auto;
    height: 65%;
}

.layout .logo.logo-small .logo-img {
    background-color: #fff;
    border-radius: 4px;
}

.layout .logo.logo-small .txt {
    display: none;
}

.layout .logo .txt {
    font-weight: 500;
    font-size: 16px;
}

.layout .site-layout .site-layout-background {
    background: #fff;
}
.layout .site-layout .site-layout-header {
    display: flex;
    align-items: center;
    height: 50px;
    justify-content: space-between;
    padding-right: 15px !important;
}

.layout .site-layout .operation {
    padding: 0 10px;
}

.layout .site-layout .operation .trigger {
    padding: 0 16px;
    font-size: 18px;
    line-height: 64px;
    cursor: pointer;
    transition: color 0.3s;
}

.layout .site-layout .operation .trigger:hover {
    color: #1890ff;
}

.layout .site-layout .user {
    display: flex;
    align-items: center;
    cursor: pointer;
}
.layout .site-layout .user .user-name {
    height: 25px;
    line-height: 25px;
    padding: 0 15px;
    margin-left: 20px;
    color: #ffffff;
    background-color: #ccc;
    border-radius: 2px;
}
/*.layout .ant-layout-sider {
    background-color: #14578B;
}
.ant-menu.ant-menu-dark, .ant-menu-dark .ant-menu-sub, .ant-menu.ant-menu-dark .ant-menu-sub {
    background-color: #14578B;
}*/
