@charset "UTF-8";
/* @describe: 入口样式
 * @author: 上官靖宇
 * @date: 2022/1/4 16:58
 */
@import '~antd/dist/antd.css';
#root {
    width: 100vw;
    height: 100vh;
}

* {
    scrollbar-width: thin;
}

*::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

*::-webkit-scrollbar-thumb {
    width: 8px;
    height: 8px;
    background: rgba(0, 0, 0, 0.15);
    border-radius: 8px;
}
